<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <script type="text/javascript" src="${webroot}/static/js/jquery-1.7.2-min.js"></script>
    <script type="text/javascript" src="${webroot}/static/js/lufylegend-1.9.9.min.js"></script>
    <script type="text/javascript" src="${webroot}/static/js/game/pintu_1.js"></script>
    <title>拼图1</title>
</head>
<body style="margin: 0px; font-size: 0px; background: #F2F2F2;">
    <div id="mygame"></div>
</body>
</html>